{% extends 'base.html.twig' %}

{% block title %}
	Reset your password
{% endblock %}

{% block body %}
	<section class="container my-3 w-25 ">
		<div class="row">
			<div class="col">
				<h1 class="text-center">Reset your password</h1>
				{{ form(form)}}
					<button type="submit" class="btn btn-primary">Reset</button>
				</div>
			</div>
		</section>
	{% endblock %}

