{% extends 'base.html.twig' %}

{% block title %}Edit Tags{% endblock %}

{% block body %}
    <h1>Edit Tags</h1>

{{ include('admin/admin_tags/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('app_admin_tags_index') }}">back to list</a>

{{ include('admin/admin_tags/_delete_form.html.twig') }}

{% endblock %}
