{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<div class=" container w-25 text-center">
    <h1>Contact Us </h1>

    {{ form(form) }}
</div>
{% endblock %}
