<div>
Hi {{user.firstname}},
There was a request to change your password!

If you did not make this request then please ignore this email.

Otherwise, please click this link to change your password :
<a href="{{ url|raw }}">{{ url|raw }}</a>

</div>